@font-face {
	font-family: 'swn';
	src: url('swn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	/* font-family: 'swn', Courier, monospace; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
	background-color: #131313;
	color: #dddddd;
	outline-style: none;
}

div{
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
}

code{
	font-size: 18px;
	/* background-color: #000; */
}

box{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

colored{
	color: #909FAF;
}

a{
	color: #909FAF;
}

img{
	width: 100%;
}

.withdropshadow{
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}